@font-face {
    font-family: 'brawl';
    src: url('/fonts/LilitaOne-Regular.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'brawl';
    background: #212121;
    color: #e8e8e8;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

button {
    font-family: 'Outfit', sans-serif;
    border: none;
    outline: 1px dotted rgb(37, 37, 37);
    outline-offset: -4px;
    background: hsl(0deg 0% 75%);
    box-shadow: inset -1px -1px #292929, inset 1px 1px #fff, inset -2px -2px rgb(158, 158, 158), inset 2px 2px #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 5px 30px;
}

button:active {
    box-shadow: inset -1px -1px #fff, inset 1px 1px #292929, inset -2px -2px #ffffff, inset 2px 2px rgb(158, 158, 158);
}

.inputBox {
    position: relative;
    font-family: 'Outfit', sans-serif;
}

.inputBox input {
    padding: 15px 20px;
    outline: none;
    background: transparent;
    border-radius: 5px;
    color: #e8e8e8;
    border: 1px solid#e8e8e8;
    font-size: 1em;
}

.inputBox span {
    position: absolute;
    left: 0;
    font-size: 0.7em;
    transform: translateX(14px) translateY(-7.5px);
    padding: 0 6px 1px 5px;
    border-radius: 2px;
    background: #212121;
    letter-spacing: 1px;
    border: 1px solid #e8e8e8;
    color: #e8e8e8;
}

.data-card {
    background: #292929;
    border-radius: 5px;
    padding: 20px;
    margin: 10px 0;
    box-shadow: 0 0 10px #000;
    width: 200px;
}

.data-row .data {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.title-row {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.title-row img {
    width: 25px;
    margin-right: 10px;
}

.title-row h1 {
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: 1px;
}

.data-row img {
    width: 25px;
}